<a aria-label="Email" onclick="window.location.href = 'mailto:' + atob('aS5maXNrMzI=') + '@' + atob('Z21haWwuY29t'); return false;"><i class="svg-icon email" aria-hidden="true"></i></a>
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" target="_blank" aria-label="Github"><i class="svg-icon github" aria-hidden="true"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank" aria-label="LinkedIn"><i class="svg-icon linkedin" aria-hidden="true"></i></a>{% endif %}
