.nav-tooltip {
  display: inline;
  padding: 8px 0;
  position: relative;

  .tooltip-content {
    display: flex;
    flex-direction: column;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s 0.3s;

    &.about-tooltip {
      width: 212px;
      left: 8%;
    }
  }

  // The tooltip's caret
  .tooltip-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  }

  &:hover .tooltip-content {
    opacity: 1;
  }

  // Open the dropdown when the user tabs to (focuses) a header link or a menu link.
  &:has( a:focus)>.tooltip-content {
    opacity: 1;
  }

  .tooltip-content a {
    color: $lightGray;
    text-align: left;
    margin-left: 4px;
    margin-right: 20px;

    &:hover, &:active {
      color: $lightblue;
    }
  }
}
