<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Welcome to Ian Fisk's teaching portfolio!"/>
    <link rel="icon" href="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20400%22%20width%3D%2220%22%3E%3Ccircle%20fill%3D%22%23355C7D%22%20stroke%3D%22%23355C7D%22%20stroke-width%3D%224%22%20cx%3D%22100%22%20cy%3D%22100%22%20r%3D%2294%22%3E%3C%2Fcircle%3E%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23355C7D%22%20stroke-width%3D%225%22%20cx%3D%22300%22%20cy%3D%22100%22%20r%3D%2294%22%3E%3C%2Fcircle%3E%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23355C7D%22%20stroke-width%3D%225%22%20cx%3D%22100%22%20cy%3D%22300%22%20r%3D%2294%22%3E%3C%2Fcircle%3E%3Ccircle%20fill%3D%22%23355C7D%22%20stroke%3D%22%23355C7D%22%20stroke-width%3D%224%22%20cx%3D%22300%22%20cy%3D%22300%22%20r%3D%2294%22%3E%3C%2Fcircle%3E%3C%2Fsvg%3E">

    <!-- <title>IAN FISK – Home</title> -->
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar" aria-label="Homepage"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/" aria-label="Ian Fisk homepage">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p>
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <div class="nav-tooltip">
                <a href="{{ site.baseurl }}/about-me">About me</a>
                <div class="tooltip-content about-tooltip" aria-label="About me hover menu">
                  <a href="{{ site.baseurl }}/about-me">Biography</a>
                  <a href="{{ site.baseurl }}/philosophy">Teaching philosophy</a>
                  <a href="{{ site.baseurl }}/resume">Résumé</a>
                </div>
              </div>
              <div class="nav-tooltip">
                <a href="{{ site.baseurl }}/standards">Teacher quality standards</a>
                <div class="tooltip-content" aria-label="Teacher quality standards hover menu">
                  <a href="{{ site.baseurl }}/standards/one">Standard I</a>
                  <a href="{{ site.baseurl }}/standards/two">Standard II</a>
                  <a href="{{ site.baseurl }}/standards/three">Standard III</a>
                  <a href="{{ site.baseurl }}/standards/four">Standard IV</a>
                </div>
              </div>
              <a href="{{ site.baseurl }}/capstone">Capstone</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
